body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img {
    align-items: center;
    border-radius: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    font-family: "Figtree", sans-serif;
    padding: 20px;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid black;
    border-radius: 15px;
    max-width: 375px;
    max-height: 500px;
    box-shadow: 8px 8px 0px 0px black;
}
.learning {
    display: inline-block;
    font-weight: bold;
    color: black;
    background-color: hsl(47, 88%, 63%);
    border-radius: 10px;
    width: fit-content;
    padding: 0 10px;
    margin-top: 5px;
    line-height: .75;
}
.publish {
    font-weight: 600;
}
.title {
    font-weight: bolder;
}
.description {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}
.container-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    width: 40px;

}
